/* ******************** *\
|* Container          * *|
\* ******************** */

.container {
	width: 100%;
	height: 100%;
	background-color: $color-second-basic;
	box-shadow: $std-shadow;

	// UNLIMITED
	@media (min-width: $site-width-min-ulm) {
		padding: $std-semimargin-ulm;
	}



	// LARGE
	@media (min-width: $site-width-min-lrg) and (max-width: $site-width-max-lrg) {
		padding: $std-semimargin-lrg;
	}



	// MEDIUM
	@media (min-width: $site-width-min-mdm) and (max-width: $site-width-max-mdm) {
		padding: $std-semimargin-mdm;
	}



	// SMALL
	@media (max-width: $site-width-max-sml) {
		padding: $std-semimargin-sml;
	}
}
